
/* Home.css */
.main-container {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.inside-container {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0;
  min-width: 420px;
  max-width: 600px;
}

.inside-container button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.main-btn {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  width: 200px;
}


/* Estilos para ChartJS */
#chartJs {
  width: 100%; /* Ocupar todo el ancho disponible */
  height: 500px; /* Establecer una altura fija o ajustar según sea necesario */
  max-width: 800px; /* Limitar el ancho máximo para evitar que el gráfico sea demasiado ancho */
  margin: 0 auto; /* Centrar horizontalmente */
}

/* Estilos para el gráfico */
.chart-container {
  max-height: 500px; /* Altura máxima para evitar que el gráfico sea demasiado alto */
}

.top-button-left {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
}

.top-button-right {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

@media (min-width: 1200px) {
  .chart-container {
    max-height: 600px; /* Aumentar la altura máxima en pantallas grandes */
  }
}
