
.challenge {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0;
  max-width: 600px;
}

.challenge input {  
  border: 1px solid black;
  padding: 5px;
}

.challenge button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.challenge button:hover {
  background-color: #0056b3;
}

.sentence-preview {  
  font-size: 26px;
  font-weight: bold;
  margin-top: -50px;
  /* max-width: 600px;  */
  max-width: 600px;
  word-wrap: break-word;
  /* white-space: nowrap; */
}

/* Clase para palabras ocultas */
.hidden-word {
  color: transparent; /* Hace que el texto sea transparente */
  background-color: transparent; /* Fondo transparente */
  border: none; /* Elimina el borde */
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
}

/* Estilos para mostrar palabras ocultas al pasar el mouse */
.hidden-word:hover {
  cursor: pointer;
  color: initial; /* Restaura el color de texto original al pasar el mouse */
  background-color: initial; /* Restaura el fondo original al pasar el mouse */
}

span {
  cursor: pointer;
}

.selected-word {
  /* background-color: green; Cambia el color de fondo a verde cuando seleccionada */
  color: rgb(0, 170, 0); /* Cambia el color del texto a blanco o el que desees */
}
