
.challenge {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0;
  max-width: 600px;
}

.challenge input {  
  border: 1px solid black;
  padding: 5px;
}

.challenge button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.challenge button:hover {
  background-color: #0056b3;
}

.sentence-preview {  
  font-size: 26px;
  font-weight: bold;
  margin-top: -50px;
  /* max-width: 600px;  */
  max-width: 600px;
  word-wrap: break-word;
  /* white-space: nowrap; */
}

.hidden-word {
  color: transparent;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.hidden-word:hover {
  cursor: pointer;
  color: initial;
  background-color: initial;
}

span {
  cursor: pointer;
}

.selected-word {
  color: rgb(0, 170, 0);
}

.challenge input {  
  border: 1px solid #007bff;
  padding: 5px;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
}

.challenge input:focus {
  outline: none;
  border: 2px solid #0056b3;
}